body{
    text-align: center;
    color: beige;
    background-color: rgb(37, 37, 37);
}

h1 {
    text-align: center;
    color: orange;
}

#container{
    width: 100%;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

#box {
    display: grid;
    grid-gap: 5px;

    width: 400px;
    height: 500px;

    grid-template-areas: 
        'result result result result'
        'one two three add'
        'four five six substract'
        'seven eight nine multiply'
        'equals zero point divide';
}

#result {
    text-align: left;
    grid-area: result;
    padding-left: 50px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
}

#one {
    grid-area: one;
    background-color: orange;
}

#two {
    grid-area: two;
    background-color: orange;
}

#three {
    grid-area: three;
    background-color: orange;
}

#three {
    grid-area: three;
    background-color: orange;
}

#four {
    grid-area: four;
    background-color: orange;
}

#five {
    grid-area: five;
    background-color: orange;
}

#six {
    grid-area: six;
    background-color: orange;
}

#seven {
    grid-area: seven;
    background-color: orange;
}

#eight {
    grid-area: eight;
    background-color: orange;
}

#nine {
    grid-area: nine;
    background-color: orange;
}

#zero {
    grid-area: zero;
    background-color: orange;
}

#point {
    grid-area: point;
    background-color: darkorange;
}

#add {
    grid-area: add;
    background-color:goldenrod;
}

#substract {
    grid-area: substract;
    background-color: darkgoldenrod;
}

#multiply {
    grid-area: multiply;
    background-color: chocolate;
}

#divide{
    grid-area: divide;
    background-color: brown;
}

#equals{
    grid-area: equals;
    background-color: orangered;
}